{% comment %}
  Eigener HTML-Code für den <head> aller Seiten.
  Wird von _includes/head.html direkt vor </head> eingebunden.
  Hier einfach beliebiges HTML einfügen (Meta-Tags, Favicons, Fonts,
  Analytics-Snippets, eigenes CSS/JS ...).
{% endcomment %}
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/assets/img/favicon.svg" />
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/img/apple-touch-icon.png" />
<link rel="manifest" href="{{ site.baseurl }}/assets/img/site.webmanifest" />

